table#tbl_beschwerden{
    width: 100%;
    margin: 25px auto;
    background-color: lightgrey;
}

table#tbl_beschwerden, th, td{
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr:hover{
    background-color: royalblue;
}

tr.verwarnt{
    color: orange;
}

table#tbl_beschwerden caption{
    font-size: large;
    font-weight: bold;
}

table#tbl_beschwerden th{
    text-align: left;
}

button{
    margin: 2px;
    padding: 2px;
}

.buttonOrange{
    color: white;
    background-color: orange;
}

.buttonOrange:hover{
    color: orange;
    background-color: white;
}

.buttonRot{
    color: white;
    background-color:  red;
}

.buttonRot:hover{
    color: red;
    background-color:  white;
}